.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  @media (--mq-small) {
    flex-direction: row;
    gap: 0.5ch;
  }

  & img {
    width: 48px;
    height: 48px;
  }

  & input {
    width: 95px;
    max-width: 100%;
    text-align: center;
  }
}

.field.radio {
  gap: 0px !important; /* gap is managed by semi-invisible radio inputs */
}

.fieldgroup {
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  max-width: 100%;
  gap: 1.5rem 0.5rem;
}
