.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 0rem;
  position: relative;

  & .grid:where(:nth-child(2n + 1)) {
    background-color: rgb(57, 45, 48, 0.33);
  }
}

.fieldgroup {
  display: flex;
  flex-flow: row wrap;
}

.grid {
  display: grid;
  grid-template-areas:
    "icon title title"
    "owned needed delta";
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;

  &:last-of-type {
    margin-bottom: 1rem;
  }

  &:hover,
  &:focus-within {
    background-color: var(--secondary);
  }

  & input {
    width: 128px;
    max-width: 100%;
  }

  & span,
  & output {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  @media (--mq-medium) {
    gap: 0.33rem;
    grid-template-areas: "title icon owned needed delta extra";
    grid-template-columns: 1fr 64px repeat(3, 96px);
    & legend {
      display: none;
    }
  }

  @media (--mq-large) {
    min-height: 100px;
    padding-top: 0px;
    grid-template-columns: 1fr 64px repeat(3, 96px) 2fr;
  }

  @media (--mq-x-large) {
    grid-template-columns: 1fr 64px repeat(3, 96px) 3fr;
  }

  &.titles {
    display: none;
    position: sticky;
    top: 0px;
    background-color: var(--background) !important;
    min-height: unset;
    margin: 1rem 0px;

    & span {
      display: block;
      font-weight: bold;
      &:nth-child(5) {
        display: none;
      }
    }

    @media (--mq-medium) {
      display: grid;
    }

    @media (--mq-large) {
      & span:nth-child(5) {
        display: block;
      }
    }
  }
}

.icon {
  width: 64px;
  grid-area: icon;
}

.owned {
  grid-area: owned;
}

.needed {
  grid-area: needed;
}

.delta {
  grid-area: delta;
  &.done {
    color: var(--success);
  }
}

.extra {
  display: none;
  @media (--mq-large) {
    display: flex;
  }

  grid-area: extra;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}
