:root {
  --text: rgb(248, 237, 240);
  --black: rgb(9, 7, 7);
  --background: rgb(27, 26, 24);
  --primary: rgb(144, 20, 51);
  --secondary: rgb(57, 45, 48);
  --shaded: rgb(67, 10, 24);
  --accent: rgb(238, 186, 134);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html,
#__next {
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100dvh;
  height: 100%;
}

#__next {
  display: flex;
  flex-flow: column nowrap;
}

body {
  color: var(--text);
  background-color: var(--black);
  font-family: var(--sans);
  font-size: 18px;
}

main {
  flex-grow: 1;
}

footer {
  background-color: var(--background);
  font-size: 12px;
  padding: 0.33rem;
}

h1,
h2,
h3 {
  font-family: var(--title);
}

a {
  color: var(--accent);
}

img {
  display: block;
}

button,
input {
  color: inherit;
  font-family: inherit;
}

.section {
  margin: 1.5rem 2.5rem;
  padding: 1.5rem;
  border-radius: 6px;
  background-color: var(--background);
}

.section.error {
  background-color: var(--primary);
}

.section :is(h1, h2, h3):first-child {
  margin-top: 0px;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  max-width: 100%;
  gap: 1.5rem 0.5rem;
}

form > fieldset {
  min-width: min(100%, 420px);
  border: 0px;
}

form fieldset,
form input {
  max-width: 100%;
}

form > fieldset > legend {
  font-size: 14px;
}

input:focus-visible,
button:focus-visible {
  outline: 0px;
}

input[type="text"],
input[type="search"] {
  border: 0px;
  border-bottom: 1px solid var(--text);
  background-color: transparent;

  &:focus {
    border-bottom-color: var(--accent);
  }
}

input[type="submit"],
input[type="button"],
button,
.button {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 1rem 1.5rem;

  &.primary {
    background-color: var(--primary);
  }

  &:hover,
  &:focus {
    border-bottom-color: var(--accent);
    color: var(--accent);
  }

  &:active {
    border-color: var(--black);
    box-shadow: inset 0px 2px 2px var(--black);
  }
}
