:root {
  --text: rgb(248, 237, 240);
  --black: rgb(9, 7, 7);
  --background: rgb(27, 26, 24);
  --primary: rgb(144, 20, 51);
  --secondary: rgb(57, 45, 48);
  --shaded: rgb(67, 10, 24);
  --accent: rgb(238, 186, 134);
  --sans: "Inter", sans-serif;
  --title: "Kanit", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background-color: var(--primary);
}

body,
html {
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100dvh;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
  color: var(--text);
  background-color: var(--black);
  font-family: var(--sans);
  font-size: 18px;
}

main {
  flex-grow: 1;
}

footer {
  background-color: var(--background);
  font-size: 12px;
  padding: 0.5rem;
}

h1,
h2,
h3 {
  font-family: var(--title);
}

a {
  color: var(--accent);
}

img {
  display: block;
}

button,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.section {
  margin: 1.5rem 2.5rem;
  padding: 1.5rem;
  border-radius: 6px;
  background-color: var(--background);
}

.section.primary {
  background-color: var(--primary);
}

.section.shaded {
  background-color: var(--shaded);
}

.section :is(h1, h2, h3, p):first-child {
  margin-top: 0px;
}

.section :is(h1, h2, h3, p):last-child {
  margin-bottom: 0px;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  max-width: 100%;
  gap: 1.5rem 0.5rem;
}

form > h2 {
  flex-basis: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

form fieldset {
  min-width: min(100%, 420px);
  border: 0px;
  &.wide {
    width: 100%;
  }
}

form fieldset,
form input {
  max-width: 100%;
}

form fieldset > legend {
  font-size: 14px;
}

input:focus-visible,
button:focus-visible,
dialog,
.dialog {
  outline: 0px;
}

input[type="text"],
input[type="search"],
input[type="number"] {
  border: 0px;
  border-bottom: 1px solid var(--text);
  background-color: transparent;

  &:focus {
    border-bottom-color: var(--accent);
  }

  &:read-only,
  &:disabled {
    color: rgb(248, 237, 240, 50%);
    cursor: default;
  }
}

input[type="submit"],
input[type="button"],
input[type="radio"].button + label,
button,
.button {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 1rem 1.5rem;

  &.primary {
    background-color: var(--primary);
  }

  &.shaded,
  &:disabled {
    background-color: var(--shaded);
  }

  &:hover,
  &:focus {
    border-bottom-color: var(--accent);
    color: var(--accent);
  }

  &:active {
    border-color: var(--black);
    box-shadow: inset 0px 2px 2px var(--black);
  }
}

input[type="radio"].button {
  display: inline-block;
  width: 0px;
  height: 0px;

  & + label {
    display: inline-block;
    &:not(:last-of-type) {
      margin-right: 2px;
    }
  }

  &:focus + label {
    border-bottom-color: var(--accent);
    color: var(--accent);
  }

  &:checked + label {
    background-color: var(--primary);
  }

  &:disabled + label {
    background-color: var(--shaded);
  }
}

.icon-list {
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & button,
  & label {
    max-width: 100%;
    background-color: transparent;
    border-radius: 0px;
    padding: 0px;
  }

  & button > img,
  & label > img {
    max-width: 100%;
  }

  & label {
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: var(--accent);
    }
  }
}

.svg {
  color: inherit;
  fill: currentColor;
  height: 0.8em;
  width: auto;
  vertical-align: -0.1em;
  aspect-ratio: 1;
}

#modal-dialog:not([open]),
.dialog:not([open]) {
  display: none;
}

#modal-dialog,
.dialog {
  background: transparent;
  border: 0px;
  padding: 0px;
  color: var(--text);
  min-width: 50%;

  & > section {
    margin: 0px !important;
    min-width: 50%;
  }

  &::backdrop,
  & .backdrop {
    background-color: rgb(9, 7, 7, 0.75);
  }
}
