.arrow {
  color: inherit;
  fill: currentColor;
  height: 0.8em;
  width: auto;
  aspect-ratio: 1;
  transform: rotate(var(--rot, 0deg));

  &:first-child {
    margin-right: 0.5ch;
  }

  &:last-child {
    margin-left: 0.5ch;
  }
}
