<footer>
  Made by <a href="https://www.mitsunee.com">Mitsunee</a> | “Fate/Grand Order”
  is a trademark of Notes Co., Ltd. | Game Assets © Aniplex Inc. used under
  fair use.
  <br />
   Thanks to:{" "}
  <a href="https://atlasacademy.io/" target="_blank" rel="noopener noreferrer">
    Atlas Academy
  </a>{" "}
   (Game Data API and Assets)
</footer>
