<noscript>
  <section class="section primary">
    <h2>This App requires JavaScript</h2>
    <p>
      Your browser either does not support JavaScript or you need to permit this
      website to use scripts.
    </p>
  </section>
</noscript>
